
@using Hospital.ViewModels
@model Hospital.ViewModels.TimingViewModel


<form asp-action="addtiming">

    <div class="form-group">
        <label asp-for="DoctorId" class="control-label"></label>
        <input asp-for="DoctorId" class="form-control" />
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <label asp-for="ScheduleDate"></label>
        <input asp-for="ScheduleDate" class="form-control" aria-required="true" />
        <span asp-validation-for="ScheduleDate" class="text-danger"></span>
    </div>
    

    <div>
        <label asp-for="MorningShiftStartTime"></label>
        <select asp-for="MorningShiftStartTime" asp-items="@ViewBag.morningStart"></select>
    </div>
     <div>
        <label asp-for="MorningShiftEndTime"></label>
        <select asp-for="MorningShiftEndTime" asp-items="@ViewBag.morningEnd"></select>
    </div>
    <div>
        <label asp-for="AfternoonShiftStartTime"></label>
        <select asp-for="AfternoonShiftStartTime" asp-items="@ViewBag.evenStart"></select>
    </div>
    <div>
        <label asp-for="AfternoonShiftEndTime"></label>
        <select asp-for="AfternoonShiftEndTime" asp-items="@ViewBag.evenEnd"></select>
    </div>




    

    <input type="submit" value="submit" />



</form>
    


